html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", href="favicon.ico")
    body
        div(class="")
            nav(class="navbar navbar-expand-lg navbar-light py-5")
                div(class="container-fluid")
                    a(class="navbar-brand mx-auto", href="#")
                        img(src="images/Biomes-Logo-01-01.svg", alt="Biomes", width="190")
            section(class="pb-20 bg-secondary-light")
                nav(class="position-relative navbar navbar-expand-lg navbar-light py-5")
                div(class="container mt-8")
                    div(class="row align-items-center mb-12")
                        div(class="col-12 col-lg-6 mb-20 mb-lg-0")
                            div(class="mw-lg-md")
                                h2(class="mb-5 text-primary") Biomes is an
                                |       NFT project on
                                |       the Ethereum Blockchain
                                p(class="lead text-muted lh-lg mb-6") Available on Foundation App Only
                                a(class="btn btn-primary d-block d-md-inline-block mb-2 mb-md-0 mb-lg-0 me-md-4", href="https://foundation.app/collection/bios") LETS GO
                        div(class="col-12 col-lg-6")
                            img(class="img-fluid", src="images/Biomes-Southwest-01.jpg", alt="")
                    div(class="text-center")
                        a(class="text-decoration-none text-muted small", href="#")
                            svg(class="text-secondary mb-2", width="9", height="12", viewbox="0 0 9 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M5 10.2929L8.14645 7.14645C8.34171 6.95118 8.65829 6.95118 8.85355 7.14645C9.04882 7.34171 9.04882 7.65829 8.85355 7.85355L4.85355 11.8536C4.65829 12.0488 4.34171 12.0488 4.14645 11.8536L0.146447 7.85355C-0.0488155 7.65829 -0.0488155 7.34171 0.146447 7.14645C0.341709 6.95118 0.658291 6.95118 0.853553 7.14645L4 10.2929V0.5C4 0.223858 4.22386 0 4.5 0C4.77614 0 5 0.223858 5 0.5V10.2929Z", fill="currentColor")
                            span(class="d-block text-secondary") Scroll for more info
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-sm", style="z-index: 9999;")
                    div(class="navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-primary", style="opacity: 90%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column py-6 px-6 navbar-light bg-white overflow-auto")
                        div(class="d-flex align-items-center mb-10")
                            a(class="me-auto navbar-brand", href="#")
                                img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                            button(class="navbar-close btn-close", type="button", aria-label="Close")
                        div
                            ul(class="nav flex-column")
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") About
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Company
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Services
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Testimonials
                        div(class="mt-auto")
                            div(class="py-6")
                                a(class="w-100 btn btn-primary", href="#") Contact Us
                            p(class="mb-4 small text-center text-muted") © 2021 All rights reserved.
            div
                section(class="py-20")
                    div(class="container")
                        div(class="row align-items-center")
                            div(class="col-12 col-lg-6 mb-10 mb-lg-0")
                                div(class="mw-lg-sm mx-auto")
                                    h2(class="mb-6") Mission
                                    p(class="lead lh-lg text-muted mb-6") Conduct a creative study on the connection between humans and the 
                                    |       the natural world around us. Donate 10% of all proceeds to environmental causes.
                            div(class="col-12 col-lg-6 position-relative")
                                div(class="d-flex flex-column mx-auto", style="width: 296px;")
                                    div(class="d-flex justify-content-end align-items-end")
                                        img(class="ms-auto img-fluid", style="width: 296px; height: 296px; object-fit: cover;", src="images/Mission-Section.jpg", alt="")
                                    div(class="d-flex justify-content-end")                   
                section(class="py-20 bg-light")
                    div(class="container")
                        div(class="mw-3xl mx-auto mb-16 text-center")
                            h2(class="mt-6 mb-4") Roadmap
                            p(class="mw-xl mx-auto lead lh-lg text-muted") General timeline and checkpoints for the project 
                            |       up to the completion.
                        div(class="row mb-n4")
                            div(class="col-12 col-lg-4 p-4")
                                div(class="py-10 px-8 bg-white text-center")
                                    span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 1
                                    h6(class="my-6") May-September 2022
                                    p(class="lead lh-lg text-muted") Mint the first five artworks and list them for auction. Build up the collection of work and donate to a good cause.
                            div(class="col-12 col-lg-4 p-4")
                                div(class="py-10 px-8 bg-white text-center")
                                    span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 2
                                    h6(class="my-6") September-October 2022
                                    p(class="lead lh-lg text-muted") Mint 5 custom collectors edition artworks as giveaways for previous collectors and supportes.
                            div(class="col-12 col-lg-4 p-4")
                                div(class="py-10 px-8 bg-white text-center")
                                    span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 3
                                    h6(class="my-6") October-December 2022
                                    p(class="lead lh-lg text-muted") Mint the last 5 pieces of the collection, completing the main body of artwork. As well as holiday content.
                            div(class="col-12 col-lg-4 p-4")
                                div(class="py-10 px-8 bg-white text-center")
                                    span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 4
                                    h6(class="my-6") January-February 2023
                                    p(class="lead lh-lg text-muted") Create bonus art content for holders and new collectors to be airdropped as tokens of appreciation for their support.
                            div(class="col-12 col-lg-4 p-4")
                                div(class="py-10 px-8 bg-white text-center")
                                    span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 5
                                    h6(class="my-6") February- April 2023
                                    p(class="lead lh-lg text-muted") Continue community engagement and marketing the project with the intention of selling out all 10 works.
                            div(class="col-12 col-lg-4 p-4")
                                div(class="py-10 px-8 bg-white text-center")
                                    span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 6
                                    h6(class="my-6") April-May 2023
                                    p(class="lead lh-lg text-muted") Complete the project and send out the final thank you content + tokens of appreciation.
                section(class="position-relative py-20")
                    div(class="container")
                        div(class="row align-items-center")
                            div(class="col-12 col-lg-auto me-lg-8")               
                            |             
                            div(class="col-12 col-lg-8 mx-auto")
                                div(class="row align-items-center")
                                    div(class="col-12 col-lg-6 mb-10 mb-lg-0")
                                        h2(class="text-primary mb-2") Creator
                                        h3(class="mb-4") Pixel Reviver
                                        p(class="lead lh-lg text-muted mb-6") This project was created by Artist
                                        |       and Graphic Designer Pixel Reviver
                                        |       or you can call him Danny.
                                    div(class="col-12 col-lg-6")
                                        img(class="mb-5 img-fluid h-100", style="object-fit: cover;", src="images/Selfie.JPG", alt="")
                            div(class="col-12 col-lg-auto ms-lg-8")               
                            |             
                section(class="py-20")
                    div(class="container")
                        div(class="row justify-content-between pb-6 pb-md-12 border-bottom")
                            div(class="col-12 col-lg-auto")
                                a(class="d-inline-block mb-8 mb-lg-0 navbar-brand", href="#index.html")
                                    img(src="images/Biomes-Logo-01-01.svg", alt="", width="200")
                        div(class="d-flex flex-wrap justify-content-between align-items-center pt-12")
                            p(class="small mb-6 mb-sm-0") All rights reserved | Biomes NFT 2022
                            div
                                a(class="link-dark text-decoration-none me-4", href="#")                 
                                |               
                                a(class="link-dark text-decoration-none me-4", href="#https://twitter.com/PixelReviver")
                                    img(src="cronos-assets/logos/brands/twitter.svg", alt="")
                                |               
                                a(class="link-dark text-decoration-none me-4", href="#https://www.tiktok.com/t/ZTdEDy6WS/")
                                    img(src="images/TikTok-Logo-01.svg", alt="", class="width")
                                |               
                                a(class="link-dark text-decoration-none me-4", href="#")                 
                                |               
                                a(class="link-dark text-decoration-none me-4", href="#")                 
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
